<template name="imageUpload">
<div  class="well well-sm">
<form>
<div class="form-group">
<label>Image To Upload</label>
<input type="file" id="imageInput" accept="image/png,image/jpeg">
</div>
<input id="upload" class="btn btn-primary" type="submit" value="Upload"/>

    <!--<input id="filename" value="{{image}}">-->

</form>

</div>
</template>

 